<h1 class="text-center">
  <%= @response[:product_name]%> Maintenance Notification
  <div class="small"><%= DateTime.parse(@response[:start]).strftime("%d-%b-%Y") %> <div>
</h1>

<h2>Review Messages</h2>


<div class="card">
  <div class="card-header">
    <div><b>Subject </b>: Scheduled Maintenance Notifcation</div>
  </div>

  <div class="card-footer text-uppercase">
    Email Template (English)
  </div>

  <div class="card-body email-body" data-editable>
    <%= raw @draft_message_html %>
  </div>
  <div class="editor"></div>

  <% if params[:id].to_i == 1 %>
    <div class="card-footer text-uppercase">
      Email Template (Japanese)
    </div>

    <div class="card-body email-body" data-editable>
      <%= raw @jp_draft_message_html %>
    </div>
    <div class="editor"></div>
  <% end %>
</div>

<div class="my-3 text-center">
  <p class="help-block">This will create <b><%= @response[:product_urls].size %> tickets</b> to notify <b><%= @to.size %> clients</b>.</p>
  <%= link_to "Save Draft", "#", class: "btn btn-primary-invert mr-2" %>
  <%= link_to "Create Zendesk Ticket(s)", "#", class: "btn btn-primary" %>
</div>
